html {
  position: relative;
  min-height: 100%;
}

body {
  background: url(background.jpeg);
  background-repeat: no-repeat;
  background-size: cover;
  color: darkblue;
}

.jumbotron {
  background: inherit;
  text-align: center;
  margin-top: 2em;
  border: 3px solid white;
  border-radius: 5%;
}

.col-md-6 {
  border: 2px solid white;
  border-radius: 5%;
}
