@import url('https://fonts.googleapis.com/css?family=Rubik');

html {
  position: relative;
  min-height: 100%;
}

body {
  background: url(background.jpeg);
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  color: lightblue;
}

.jumbotron {
  background: white;
  opacity: .5;
  text-align: center;
  margin-top: 2em;
  border: 3px solid white;
  border-radius: 5%;
  font-family: 'Rubik', sans-serif;
  font-size: 100px;
}
div .jumbotron h1 {
  color: black
}
.input {
  max-width: 100%;
}
.col-md-5 {
  border-radius: 1%;
  background: white;
  opacity: .8;
  color: black;
}
.fruitPic{
  height: 4.5em;
  width: auto;
  margin-top: -55px;
  float: right;
}

.style1{
  font-size: 2em;
  word-wrap: break-word;
  width: 10em;
}

#productDisplay {
  display: none;
}

.welcomeScreen {
  display: none;
  width: 50%;
}

.usersCart {
  display: none;
  width: 50%;
}
