html {
  position: relative;
  min-height: 100%;
}

body {
  background: url(background.jpeg);
  background-repeat: no-repeat;
  background-size: cover;
  color: lightblue;
}

.jumbotron {
  background: inherit;
  text-align: center;
  margin-top: 2em;
  border: 3px solid white;
  border-radius: 5%;
}

.col-md-6 {
  border: 2px solid white;
  border-radius: 5%;
}

.fruitPic{
  height: 4.5em;
  width: auto;
  margin-top: -55px;
  float: right;
}

.style1{
  font-size: 2em;
  word-wrap: break-word;
  width: 10em;
}
