@import url('https://fonts.googleapis.com/css?family=Pacifico|Raleway');

html {
  position: relative;
  min-height: 100%;
}

body {
  background: url("../img/fruit_bck.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  color: lightblue;
  background-color: white;
}
.row .col-md-4 p .priceStyle {
  color: orange;
  font-family: 'Raleway', sans-serif;
  font-weight: bold;
  font-size: 22px;
}
.row .jumbotron h1 {
  font-family: 'Pacifico';
  font-size: 70px;
  color: orange;
}
.jumbotron {
  background: inherit;
  background-image: url("../img/circle.png");
  text-align: center;
  height: 2em;
}
div .jumbotron h1 {
  color: black
}
.input {
  max-width: 100%;
}
.col-md-5 {
  border-radius: 1%;
  background: white;
  opacity: .8;
  color: black;
}
.fruitPic{
  height: 4.5em;
  width: auto;
  margin-top: -55px;
  float: right;
}

.style1{
  word-wrap: break-word;
  width: 10em;
}

#productDisplay {
  display: none;
}

.col-sm-4 {
  padding-left: 10px;
  padding-right: 10px;
}

.headerButtons {
  margin-top: 1em;
  margin-bottom: 1em;
}

.theButtons {
  float: right;
}

.products input {
  color: black;
}

#userCart {
  background-color: orange;
  border-radius: 1%;
  padding: 1.5em;
  margin: 1em;
  opacity: .5;
}
#userCart h3 {
  color: white;
  font-family: 'Raleway', sans-serif;
  font-weight: bold;
  font-size: 22px;
}
#userCart p {
  font-size: 18px;
  margin: 3px;
  padding-bottom: 10px;
}

.container .forButton {
  justify-content: space-between;
  flex-direction: column;
  height: 100vh;
  display: flex;
}
.container .btn-holder {
  justify-content: flex-end;
  display: flex;
}

.btn {
  background-color: #47dd25;
  font-family: 'Raleway', sans-serif;
  font-size: 18px;
}

.btn:hover {
  background-color: orange;
}
.btn-outline {
  background-color: inherit;
}

.panel > .panel-heading {
    background-image: none;
}
.panel-heading p {
  background-image: inherit;
  font-family: 'Raleway', sans-serif;
  color: orange;
  font-size: 1.8em;
}
.panel-body {
  height: 350px;
  color: gray;
}
.panel-body .btn {
  position: absolute;
  margin-top: 10px;
  bottom: 50px;
  right: 50px;
}
